:root{
    --font: Avenir,system-ui,helvetica,arial,sans-serif;
}

html {
    font-family: var(--font);
    height: 100%;
}


.pageCont{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:20px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
}

.shoppingCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    padding: 3px 7px 3px 7px;
    background: #F3F4F6;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.shop {
    font-weight: bold;
    background: white;
    width: 120px;
    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

a {
    text-decoration: none;
    color: #1F2937;
}

.contentCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

h1 {
    font-weight:900;
    font-size: 48px;
    color: #1A1A1A
}

p {
    font-size: 18px;
    width: 65%;
    color: #6B7280;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75%;
}

.gridCont {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    align-content: center;
    grid-gap: 25px;
    width: fit-content;
    margin-top: 25px;
}

.shopGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-template-rows: repeat(5, 300px);
    padding: 0px 75px 75px 75px;
    grid-gap: 25px;
    grid-auto-rows: 300px;
}

.card, .shopCard{
    font-size: 70px;
}

.shopCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.github {
    height: 32px;
    width: 32px;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40dvh;
}

.errorLogo {
    color: red;
    height: 100px;
    width: 100px;
}

